p {
    margin: auto;
    font-size: 30px;
    font-family: monospace;
}

h1 {
    justify-content: center;
}

#eightball {
    display: flex;
    justify-content: center;
    gap: 50px;
}


img {
    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}  

/* #ouch {
    font-size: 1px;
}

#popup {
} */

